<section class="container-fluid">
  <div class="row"> 
    <div class="col">
    </div>
    <div class="col-6">
      <%= render "shared/feed" %>
    </div>
    <div class="col">
      <%= render "friendships/strangers",strangers: @strangers %>
    </div>
  </div>
</section>