<div class="show-comments mt-2 ms-2 me-2">
    <div class="d-flex align-items-center">
      <div class="content-comment d-flex justify-content-around">
        <p class="comment-username">
          <strong><%= comment.user.username %>:</strong>
        </p>
        <p class="ms-2  content">
          <%= comment.content %>
        </p>
      </div>
      <% if comment.user.id == current_user.id %>
        <div class="d-flex flex-row-reverse ms-3">
          <% if comment.user_id == current_user.id %>
            <%= link_to [comment.post, comment],
                        method: :delete, class: "button is-danger", data: { confirm: 'Are you sure?' }, remote: true do %>
              <i class="fa fa-trash-alt" aria-hidden="true"></i>
            <%end %>
          <%end %>
        </div>
      <%end%>
    </div>
</div>
