<div class="feed">  
    <% if user.id == current_user.id %>
        <%= render "posts/form" %>
    <%end%>
    <div class="group-posts">
        <%= render "posts/show", posts: @posts%>
    </div>
</div>