// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.feed{
    .post{
        border-radius: 20px 20px 0px 0px;
    }

    .card-header{
        .info-account{
            height: 40px;
    
            .date-post{
                line-height: 0.5;
                font-size: 12px;
            }
        }
    }
}

.friendship{
    height: 100vh;
    a {
        color: white;
        text-decoration: none;
    }

    a:hover{
        color: white;
    }
    .profile{
        position: relative;
        width: 300px;
        .info-profile{
            .name-profile{
                margin-bottom: 0;
                font-weight: bold;
            }
            .email-profile{
                margin-top: 1px;
                font-size: 12px;
            }
        }
        .follow-btn{
            width: 50px;
            height: 30px;
            border-radius: 25px;
            background-color: cadetblue;
            color: white;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            right: 1rem;
            top: 0.5rem;
            font-size: 15px;
            cursor: pointer;
        }

        .follow-btn:hover, .follow-btn:focus{
            background-color: rgb(113, 201, 204);
        }
    }
}

.create-post{
    border-radius: 15px;
    padding: 1rem;
    
}

.profile{
    width: 300px;

    .info-profile{
        .name-profile{
            margin-bottom: 0;
            font-weight: bold;
        }
        .email-profile{
            margin-top: 1px;
            font-size: 12px;
        }
    }

    .stats{
        font-size: 15px;
    }
}