.navbar{
  background-color: #006AA3;
  padding: 2rem;
  a{
    text-decoration: none;
    color: whitesmoke;
  }
  a:hover{
    color: #5DD2EA;
  }
  .sign-up{
    border-radius: 25px;
    background-color: #00A5E0;
  }
  .sign-up:hover, .sign-up:focus{
    background-color: #90E0EF;
    color: whitesmoke
  }
  .login{
    border-radius: 25px;
    border: 3px solid #0078A3;
  }

  .login:hover, .login:focus{
    background-color: #00B4F5;
    color: whitesmoke;
  }
}