// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.profile{
    width: 300px;
    .info-profile{
        .name-profile{
            margin-bottom: 0;
            font-weight: bold;
        }
        .email-profile{
            margin-top: 1px;
            font-size: 12px;
        }
    }

    .stats{
        font-size: 15px;
    }

    .follow-btn{
        text-align: center;
        height: 30px;
        width: 50px;
        border-radius: 25px;
        background-color: rgb(23, 202, 142);
        a{
            text-decoration:  none;
            color: white;
        }

    }

    .follow-btn:hover, .follow-btn:focus{
        background-color: rgb(76, 231, 179);;
    }
}

